@using UnitTestReflector.Core
@model IList<ClassUnderTest>

    
    @foreach (ClassUnderTest item in Model)
    {
        <br />
        
        <h3>Class - @item.ClassName </h3>
        @item.ClassDescription

        <br />
        
        
        <br />
        <table cellpadding="3" cellspacing="3" >
            
            @foreach (ClassTest test in item.Tests)
            {
                <tr border = "1" bgcolor="BCB7B7" color="#ffffff">
                 <td>Test - @test.Title</td>
                </tr> 
                
                <tr border ="1">
                <td>
                    Test Description - @test.Description
                </td>
                
                
             @foreach (TestScenarion scenario in test.Scenarios)
             {                      
                     <tr border = "1">
                       <td>  Description - @scenario.Description 
                        <br />Given - @scenario.Given
                        <br />Then - @scenario.Then
                        <br />When - @scenario.When
                        </td>
                      </tr>
                      
             }
             </tr>

            }

        </table>
    }
     