@using UnitTestReflector.Core
@model IList<ClassUnderTest>

    
    @foreach (ClassUnderTest item in Model)
    {
        <br />
        
        <h4>Class - @item.ClassName </h4>
       

        
        
       
        <table cellpadding="3" cellspacing="3" style='font-family:Arial;font-size:9pt;' >
              <tr><td>&nbsp;</td> </tr>
            @foreach (ClassTest test in item.Tests)
            {
                <tr border = "1" bgcolor="3333aa" color="#ffffff">
                 <td><h4><b>Test Title</b> - @test.Title</h4></td>
                </tr> 
                
                <tr border ="1" bgcolor = "#DDEEEE">
                <td>
                    <b>Test Description:</b> @test.Description
                </td>
                </tr>
                
             foreach (TestScenarion scenario in test.Scenarios)
             {                      
                     <tr border = "1" bgcolor = "#DDEEEE">
                       <td>  <b> Scenario:</b> @scenario.Description 
                        <br /><b>Given - </b> @scenario.Given                        
                        <br /><b>When - </b> @scenario.When
                        <br /><b>Then - </b> @scenario.Then
                        </td></tr>
                      
@*                 <tr><td>&nbsp;</td> </tr>
                <tr><td>&nbsp;</td> </tr>*@
                      
             }


            }

        </table>
    }
     