@using UnitTestReflector.Core
@model IList<ClassUnderTest>

    
    @foreach (ClassUnderTest item in Model)
    {
        <br />
        
        <b>Class - </b> @item.ClassName 
        @item.ClassDescription

        <br />
        
        
        <br />
        <table cellpadding="3" cellspacing="3" border ="1" bgcolor="BCB7B7" color="#ffffff">
            
            @foreach (ClassTest test in item.Tests)
            {
                <tr>
                 <td>Test - @test.Title</td>
                  </tr> 
                
                <tr ><td>
                @test.Description
                </td></tr>
                
                <tr ><td>
                @foreach (TestScenarion scenario in test.Scenarios)
                {
                      
                        <tr><td>Description - @scenario.Description </td></tr>
                        <tr><td>Given - @scenario.Given</td></tr>
                        <tr><td>Then - @scenario.Then</td></tr>
                        <tr><td>When - @scenario.When</td></tr>
                      
                }
            </td></tr>
            }
        </table>
    }
     